.container{
    padding: 2em;
    background-color: rgb(251, 214, 159);
    text-align: center;
}
.form{
    max-width: 800px;
    display: inline-flex;
    flex-direction: column;
}
.invalid{
    color: red;
}